@page "/"
@using AttendanceRollApp.WebUI.Models
@using AttendanceRollApp.WebUI.Services.Interfaces
@inject INfcService NfcService

<h1>¡Hola!</h1>

Acerca tu tarjeta NFC para registrar tu asistencia.

@(NfcService.IsSupported && NfcService.IsEnabled ?
 nfcData?.Text ?? "Leyendo..."
 : "Active NFC")

@code {
    private NfcData? nfcData;
    protected override async Task OnInitializedAsync()
    {
        nfcData = await NfcService.Read();
    }
}