@page "/"
@using AttendanceRollApp.WebUI.Models
@using AttendanceRollApp.WebUI.Services.Interfaces
@inject IFingerprintService FingerprintService

<h1>¡Hola!</h1>

Escaneá tu huella para registrar tu asistencia.

@fingerPrint?.Hash

@code {
    private FingerprintData? fingerPrint;
    protected override async Task OnInitializedAsync()
    {
        fingerPrint = await FingerprintService.Scan();
    }
}