@page "/"

@using Microsoft.FluentUI.AspNetCore.Components
@using AttendanceRollApp.WebUI.Models
@using AttendanceRollApp.WebUI.Services.Interfaces

@inject INfcService NfcService
@inject IToastService ToastService


<h1>¡Hola!</h1>

Acercá tu tarjeta SUBE para registrar asistencia.


@code {
    private NfcData? nfcData;
    private GoogleFormsSubmissionService GFormsService = new GoogleFormsSubmissionService(formUrl: "https://docs.google.com/forms/u/0/d/e/1FAIpQLSf4zmEOp48n_ABs-lk_lFqB5unnlFR-89G4vWitaE6eNiXz4w/formResponse");

    protected override async Task OnInitializedAsync()
    {
        if (!NfcService.IsSupported) ToastService.ShowToast(ToastIntent.Error, "Este dispositivo no es compatible con NFC");
        else if (!NfcService.IsEnabled) ToastService.ShowToast(ToastIntent.Warning, "Es necesario activar NFC en el dispositivo");
        else
        {
            while (true)
            {
                nfcData = await NfcService.Read();
                if (nfcData != null && !string.IsNullOrEmpty(nfcData.SerialNumber))
                {
                    ToastService.ShowToast(ToastIntent.Success, nfcData.SerialNumber);

                    var now = DateTime.Now;
                    var fields = new Dictionary<string, string>
                    {
                       { AttendanceDefaultGForm.Fields.Year, now.Year.ToString() },
                       { AttendanceDefaultGForm.Fields.Month, now.Month.ToString() },
                       { AttendanceDefaultGForm.Fields.Day, now.Day.ToString() },
                      { AttendanceDefaultGForm.Fields.Hour, now.Hour.ToString() },
                      { AttendanceDefaultGForm.Fields.Minute, now.Minute.ToString() },
                       { AttendanceDefaultGForm.Fields.Person, nfcData.SerialNumber },
                       { AttendanceDefaultGForm.Fields.Location, "Not implemented yet" },
                    };

                    GFormsService.SetFieldValues(fields);

                    var response = await GFormsService.SubmitAsync();

                }
            }
        }
    }
}